body {
  background: #111;
  color: white;
}

#display {
  background: black;
  color: white;
  border: 1px solid white;
}

button {
  background: #333;
  color: white;
  border: 1px solid white;
}

button:active {
  background: white;
  color: black;
}
